CONFIG_WIFI_SSID="YOUR-SSID"
CONFIG_WIFI_PASSWORD="YOUR PWD"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_HEAP_ABORT_WHEN_ALLOCATION_FAILS=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=72584